In [11]:
# api application programming interface 
import pandas as pd
import requests

In [12]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [13]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [14]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,2859.047,8.8,1160
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,110.377,8.7,18076
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,69.056,8.7,23935
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,54.990,8.6,10913
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,26.908,8.6,4147

,id,title,overview,release_date,popularity,vote_average,vote_count
0,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,2859.047,8.8,1160
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,110.377,8.7,18076
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,69.056,8.7,23935
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,54.990,8.6,10913
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,26.908,8.6,4147

In [15]:
df = pd.DataFrame()

In [16]:
df

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [17]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [18]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,2859.047,8.8,1160
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,110.377,8.7,18076
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,69.056,8.7,23935
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,54.990,8.6,10913
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,26.908,8.6,4147
...,...,...,...,...,...,...,...
8555,517909,The Laundromat,When her idyllic vacation takes an unthinkable...,2019-09-27,12.963,6.0,1078
8556,228968,Kidnapping Mr. Heineken,The true story of the kidnapping of Freddy Hei...,2015-03-12,9.467,6.0,573
8557,168055,Love Is in the Air,Antoine is a lawyer living in New York. On his...,2013-04-02,8.005,6.0,375
8558,13079,The Life Before Her Eyes,As the 15th anniversary of a fatal high school...,2007-09-08,7.446,6.0,242
8559,9546,Ricochet,An attorney is terrorized by the criminal he p...,1991-10-04,11.781,6.0,261

,id,title,overview,release_date,popularity,vote_average,vote_count
0,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,2859.047,8.8,1160
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,110.377,8.7,18076
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,69.056,8.7,23935
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,54.990,8.6,10913
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,26.908,8.6,4147
...,...,...,...,...,...,...,...
8555,517909,The Laundromat,When her idyllic vacation takes an unthinkable...,2019-09-27,12.963,6.0,1078
8556,228968,Kidnapping Mr. Heineken,The true story of the kidnapping of Freddy Hei...,2015-03-12,9.467,6.0,573
8557,168055,Love Is in the Air,Antoine is a lawyer living in New York. On his...,2013-04-02,8.005,6.0,375
8558,13079,The Life Before Her Eyes,As the 15th anniversary of a fatal high school...,2007-09-08,7.446,6.0,242
8559,9546,Ricochet,An attorney is terrorized by the criminal he p...,1991-10-04,11.781,6.0,261

In [19]:
df.shape

(8560, 7)

(8560, 7)

In [20]:
df.to_csv('movies.csv')